* {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
     font-family: 'gilroy';
}

html, body {
     height: 100%;
     width: 100%;
}
*{
    ::selection{
        color: white;
        background-color: black;
    }
}

h1{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 7vw;
}
